#map {
  width: 100%;
  height: 100%;
}

.map-modal-img {
  width: 117px;
  max-width: 117px;
  height: 71px;
  object-fit: cover;
}

.brokers-map__card {
  transition: background-color 0.7s ease-in-out;
}

.brokers-map__card.js--active {
  background-color: #07becb;
  color: #fff;
}

.brokers-map__card.js--active .brokers-map-card__info {
  color: #fff;
}

.brokers-map__card.js--active .brokers-map-card__link {
  color: #fff;
}

.map-wrapper .leaflet-top,
.map-wrapper .leaflet-bottom {
  z-index: 700;
}

.map-wrapper .leaflet-popup-content-wrapper {
  background: #ffffff;
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.map-wrapper .leaflet-popup-content {
  margin: 9px 24px;
}

.map-wrapper .leaflet-popup-content-wrapper,
.map-wrapper .leaflet-popup-tip {
  box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
}
